/*FONT*/
@font-face {
    font-family: Akko Regular;
    src: url(../assets/font/AkkoStd-Regular.woff);
  }
@font-face {
    font-family: Akko Medium;
    src: url(../assets/font/AkkoStd-Medium.woff);
  }
@font-face {
    font-family: Akko Light;
    src: url(../assets/font/AkkoStd-Light.woff);
  }

  /* RESET TAGS */
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-weight: normal;
}

body {
    margin: 0;
    font-family: Akko Light;
}

#header {
    height: 20%;
    display: flex;
    color: white;
}

#header p {
    font-size: 14px;
    margin: 0px 10px 20px 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}


.left {
    background-color: #255E39;
    width: 50%;
}

.right {
    background-color: #46A13F;
    width: 50%;
}

h1 {
    font-size: 30px;
    margin: 20px 0px 0px 10px;
}

#feedback {
    width: 90%;
    margin: 30px auto;
}

#feedback h2 {
    font-size: 20pt;
    color: #707070;
}

#feedback p {
    font-size: 14pt;
    color: #707070;
}

#counter-box, #run, #daily-overview, #current-run, #last-run {
    height: 90px;
    width: 90%;
    margin: 30px auto;
    border-radius: 10px;
}

#counter-box {
    border: 3px solid #255E39;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#counter h3 {
    font-size: 25pt;
    color: #255E39;
}

#counter p {
    text-transform: uppercase;
    font-size: 12pt;
    color: #255E39;
    font-family: Akko Medium;
}

#progress-bar {
    width: 220px;
    background-color: #46A13F;
    height: 14px;
    transform: translateY(+5px);
}
#progress p {
    text-transform: uppercase;
    padding-top: 26.8px;
    color: #46A13F;
    text-align: right;
}

#accomplished {
    background-color: #255E39;
    width: 70%;
    height: 14px;
}

/* ADDITIONAL SCREEN DAILY OVERVIEW */
#daily-overview {
    border: 3px solid #255E39;
    
    /* Zweite Seite Box 1*/
    display: block;
}

#daily-overview h3 {
    text-transform: uppercase;
    color: #255E39;
    font-family: Akko Medium;
    letter-spacing: 0.03em;
    padding: 12px 0px 10px 15px;
}

#daily-overview p {
    padding-left: 15px;
    color: #707070;
}
/*-------*/

.carousel .indicators .indicator-item.active
{
    background-color: #255E39;
}

.carousel .indicators .indicator-item
{
    background-color: #46A13F;
}

/*-------*/

span {
    font-family: Akko Medium;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 14px;
}

#run {
    background-color: #D2323A;
    border: 3px solid #D2323A;
    justify-content: space-evenly;

    display: flex;
}

#run p {
    line-height: 95px;
    padding-left: 10px;
    color: white;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-size: 13pt; 
}

.start-stop {
    width: 65px;
    height: 65px;
    border: 2px solid white;
    border-radius: 35px;
    margin-top: 10px;
    margin-right: 10px;
}

.start-stop img {
    width: 55px;
    transform: translateY(-9px);
    padding-left: 7px;
}

/* ADDITIONAL SCREEN CURRENT-RUN */
#current-run {
    background-color: #D2323A;
    border: 3px solid #D2323A;    
    justify-content: space-between;

    /* Box wenn RUN ACTIVE */
    display: none;
    /*display: flex;*/
}

#current-run h3 {
    color: white;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-size: 13pt;
    padding-bottom: 7px;
}

#current-run div:first-child p {
    color: white;
}

#current-run div:first-child {
    padding: 15px 0px 0px 20px;
}

#current-run .start-stop {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

#current-run .start-stop img {
    transform: translateY(-16px);
}

#current-run div:nth-child(2) p {
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 12pt;
    font-family: Akko Medium;
    color: white;
    position: absolute;
    padding: 42px 0px 0px 16px;
}
/*----*/


/* ADDITIONAL SCREEN OVERVIEW RUN */
#last-run {
    border: 3px solid #46A13F;
    justify-content: space-evenly;
    flex-direction: column;

    /* Zweite Seite Box 2*/
    display: none;
    /*display: block;*/
}

#last-run > div {
    display: flex;
    justify-content: space-between;
    padding: 12px 15px 0px 15px;

}

#last-run h3 {
    text-transform: uppercase;
    color: #255E39;
    font-family: Akko Medium;
    letter-spacing: 0.03em;
}

#date { color: #46A13F; }

#run-data { color: #707070; }

#run-data > div:nth-child(2) {
    transform: translateX(-60px);
}

/*----*/


.info {
    background-color: #F5F5F5;
    font-size: 14pt;
    padding: 20px 0px 20px 0px;
}

.info > div {
    width: 90%;
    margin: auto;
}

h4 {
    font-family: Akko Medium;
}

.info p {
    margin-top: 5px;
}

#menubar
{
    position: fixed;
    bottom: 0px;
    background-color: rgba(80, 80, 80, 0.8);
    height: 75px;
    width: 100%;
    display: flex;
}

.menuItem
{
    height: 100%;
    flex-basis: 25%;
    text-align: center;
}

.menuItem img
{
    height: 100%;
}

.disabled
{
    display: none;
}

.menuItem:hover .enabled
{
    display: none;
}

.menuItem:hover .disabled
{
    display: inline-block;
}