/*FONT*/
@font-face {
    font-family: Akko Regular;
    src: url(../assets/font/AkkoStd-Regular.woff);
  }
@font-face {
    font-family: Akko Medium;
    src: url(../assets/font/AkkoStd-Medium.woff);
  }
@font-face {
    font-family: Akko Light;
    src: url(../assets/font/AkkoStd-Light.woff);
  }

  /* RESET TAGS */
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-weight: normal;
}

body {
    margin: 0;
    font-family: Akko Light;
}

.header {
    height: 20%;
    display: flex;
    color: white;
}


.left {
    background-color: #255E39;
    width: 50%;
}

.right {
    background-color: #46A13F;
    width: 50%;
}

h1 {
    font-size: 30px;
    margin: 20px 0px 0px 10px;
}

.header p {
    font-size: 14px;
    margin: 0px 10px 20px 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

#feedback {
    width: 90%;
    margin: 30px auto;
}

#feedback h2 {
    font-size: 20pt;
    color: #707070;
}

#feedback p {
    font-size: 14pt;
    color: #707070;
}

.counter, .run {
    height: 90px;
    width: 90%;
    margin: 30px auto;
    border-radius: 10px;
}

.counter {
    border: 3px solid #255E39;
}

.run {
    background-color: #D2323A;
    border: 3px solid #D2323A;
    display: flex;
    justify-content: space-evenly;
}

.run p {
    line-height: 95px;
    padding-left: 10px;
    color: white;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-size: 13pt; 
}

#start-stop {
    width: 65px;
    height: 65px;
    border: 2px solid white;
    border-radius: 35px;
    margin-top: 10px;
    margin-right: 10px;
}

#start-stop img {
    width: 55px;
    transform: translateY(-9px);
    padding-left: 7px;
}

.info {
    background-color: #F5F5F5;
    font-size: 14pt;
    padding: 20px 0px 20px 0px;
}

.info > div {
    width: 90%;
    margin: auto;
}

h4 {
    font-family: Akko Medium;
}

.info p {
    margin-top: 5px;
}