/*FONT*/
@font-face {
    font-family: Akko Regular;
    src: url(../assets/font/AkkoStd-Regular.woff);
  }
@font-face {
    font-family: Akko Medium;
    src: url(../assets/font/AkkoStd-Medium.woff);
  }
@font-face {
    font-family: Akko Light;
    src: url(../assets/font/AkkoStd-Light.woff);
  }

  /* RESET TAGS */
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    margin: 0;
    font-family: Akko Light;
}

.header {
    height: 20%;
    display: flex;
    color: white;
}


.left {
    background-color: #255E39;
    width: 50%;
}

.right {
    background-color: #46A13F;
    width: 50%;
}

h1 {
    font-size: 30px;
    margin: 20px 0px 0px 10px;
}

.header p {
    font-size: 14px;
    margin: 0px 10px 20px 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

#feedback h2 {
    font-size: 30pt;
    color: #707070;
}

#feedback p {
    font-size: 14pt;
    color: #707070;
}

#feedback {
    width: 90%;
    margin: 10px auto;
}

.counter, .run {
    height: 90px;
    width: 90%;
    margin: 30px auto;
    border-radius: 10px;
}

.counter {
    border: 3px solid #255E39;
}

.run {
    background-color: #D2323A;
    border: 3px solid #D2323A;
}

.info {
    background-color: #F5F5F5;
    font-size: 14pt;
    padding: 10px 0px 10px 0px;
}

.info > div {
    width: 90%;
    margin: auto;
}

h4 {
    font-family: Akko Medium;
    font-weight: normal;
}

.info p {
    margin-top: 5px;
}

#menubar
{
    position: fixed;
    bottom: 0px;
    background-color: rgba(80, 80, 80, 0.8);
    height: 100px;
    width: 100%;
    display: flex;
}

.menuItem
{
    height: 100%;
    flex-basis: 25%;
    text-align: center;
}

.menuItem img
{
    height: 100%;
}

.disabled
{
    display: none;
}

.menuItem:hover .enabled
{
    display: none;
}

.menuItem:hover .disabled
{
    display: inline-block;