#Hide everything but www - really unsure of this...
.cordova
merges
platforms
node_modules
#config.xml
bower.json
gulpfile.js
ionic.project
#package.json
scss
.bowerrc
.brackets.json
.DS_Store
.vscode